<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>IPTNMS_PS_Plugin</comment>
<entry key="fileNamePattern">.*.*.xml.gz</entry>
<entry key="mainClass">com.ericsson.navigator.esm.manager.pm.file.remote.plugin.unzipper.PmFileUnzipper</entry>
<entry key="port">22</entry>
<entry key="user">USERNAME</entry>
<entry key="directDownload">1</entry>
<entry key="remoteDirectory">/opt/ericsson/iptnms/packet/export</entry>
<entry key="remoteSubDirectory"></entry>
<entry key="northBoundDirectory">/eniq/mediator/data/soem/dim_e_iptnms_ps</entry>
<entry key="northBoundSubDirectory">false</entry>
<entry key="filePerDay">false</entry>
<entry key="filePerDayExt"></entry>
<entry key="enableHashCode">false</entry>
<entry key="nameComponents"></entry>
<entry key="filePrefix"></entry>
<entry key="maxFileTransfersPerRop">24</entry>
</properties>