<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="FolderBrowserDialog1.SelectedPath" value="" />
		<add key="frmMain.AccessibleName" value="(None)" />
		<add key="Frame1.Text" value="Ericsson Network IQ Reporting Wizard" />
	</appSettings>
</configuration>