## 
## LOADER.TOPOLOGY.vm
## 
## 

LOAD TABLE $TABLE  ( 
#foreach ($ref in $referencecolumn)
#if ( $velocityCount == 1 ) $ref.getDataname()
#else 
,$ref.getDataname()
#end
#end
)  
FROM $FILENAMES  
BLOCK  SIZE 50000
NOTIFY $NOTIFY_ROWS
ESCAPES OFF
QUOTES OFF  
DELIMITED BY '\\x09'
ROW DELIMITED BY '\\x0a'
IGNORE CONSTRAINT UNIQUE 2000000
IGNORE CONSTRAINT NULL 2000000
IGNORE CONSTRAINT DATA VALUE 2000000
WITH CHECKPOINT $CHECKPOINT  
MESSAGE LOG '/dc/dcdata/log/iqloader/${TECHPACK}/${MEASTYPE}_RAW/${MEASTYPE}_${DATE}_msg.log'
ROW LOG '/dc/dcdata/rejected/${TECHPACK}/${MEASTYPE}_RAW/${MEASTYPE}_${DATE}_row.log'
ONLY LOG UNIQUE, NULL, DATA VALUE
LOG DELIMITED BY ';'
;