## 
## DAYBH.DAY.vm
## 
##
##
## Delete possible data before aggregation
##
DELETE $targetDerivedTable.get("RANKSRC")
WHERE DATE_ID=$dateid
##
##
##

Insert into $targetDerivedTable.get("RANKSRC")
(
##
## keys
##
#set($first = true)
#foreach($col in $TargetMeasurementKeyMap.get("RANKSRC"))
#if($first) $col.getDataname()
#set($first = false)
#else 
,$col.getDataname()
#end
#end
,DATE_ID
,YEAR_ID
,MONTH_ID
,DAY_ID
,MIN_ID
,BHTYPE
,BUSYHOUR
,BHCLASS
,TIMELEVEL
,SESSION_ID
,BATCH_ID
,PERIOD_DURATION
##
## Columns
##
#foreach($col in $TargetMeasurementCounterMap.get("RANKSRC"))
,$col.getDataname()
#end
)
select
##
## keys
##
#set($first = true)
#foreach($col in $TargetMeasurementKeyMap.get("RANKSRC"))
##if ($col.getUniquekey() == 1)
#if($first) raw.$col.getDataname()
#set($first = false)
#else 
,raw.$col.getDataname()
#end
##end
#end
,raw.DATE_ID
,raw.YEAR_ID
,raw.MONTH_ID
,raw.DAY_ID
,raw.MIN_ID
,rankbh.BHTYPE
,rankbh.BUSYHOUR
,rankbh.BHCLASS
,'DAYBH'
,$sessionid
,$batchid
,raw.PERIOD_DURATION
##
## Columns
##
#foreach($col in $TargetMeasurementCounterMap.get("RANKSRC"))
,raw.$col.getDataname()
#end
from $sourceDerivedTable.get("RANKSRC") as rankbh, $sourceDerivedTable.get("BHSRC") as raw
where raw.hour_id = rankbh.BUSYHOUR
##
## unique keys
##

#foreach($col in $SourceMeasurementKeyMap.get("RANKSRC"))
#if ($col.getUniquekey() == 1)
and rankbh.$col.getDataname() = raw.$col.getDataname()
#end
#end

and rankbh.date_id = raw.date_id
and rankbh.date_id = $dateid


